@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;400;500;800&family=Roboto:ital,wght@0,300;0,400;1,500&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: auto;
    background-color: #1c92d2;
    font-size: 1.6em;
    height: 100%;
    overflow: auto;
    width: auto;
}

.main {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-family: 'Roboto';
    max-width: 100%;
    margin: 2%;

    overflow: auto;
}

.main>h1 {
    margin-top: 2em;
}

.container {
    padding: 0.3em;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.7);

}

.container ul {
    list-style-type: none;
    margin-top: 0.3em
}

.container ul>li {
    margin-left: 0.5em;
}

.container ul li:hover {
    background-color: bisque;
    cursor: pointer;
}

.container ul li label:hover {
    cursor: pointer;
}

.container ul>li>label {
    margin-left: 0.3em;
    font-size: 0.7em;
}

.container ul>li>[type='radio'] {

    width: 1em;
    height: 1em;
    margin-left: 0.4em;
}

.options {
    margin-left: 1em;
}

.options>[type='radio'] {
    font-size: 30rem;
    line-height: 2;
    cursor: pointer;
}

.optiontext {
    font-size: 0.2em;
    font-weight: 100;
    font-family: 'Roboto', Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#question {
    text-align: left;
    min-height: 30%;
}

#question.showinganswer {
    background-color: green;
    color: white;
    height: 100%;
}

#question::first-letter {
    font-style: normal;
    text-transform: capitalize;
    color: green;
    /* #1c92d2 */
    font-weight: 800;
}

.explination_steps:nth-child(even) {
    background-color: rgb(129 0 0);
}

.explination_steps:nth-child(odd) {
    background-color: transparent;
}

.explination_steps::first-letter {
    color: black;
    font-size: 1.3em;
    text-transform: capitalize;
}

button {
    display: block;
    height: 3em;
    width: fit-content;
    border: none;
    background-color: green;
    color: white;
    font-weight: 800;
    font-size: 0.7em;
    cursor: pointer;
    margin: 0.5em 0.5em;
    line-height: 1em;
    letter-spacing: 3px;
    border-radius: 8px;
    font-family: 'Roboto';
    padding: 0.2em;
}

button:hover {
    cursor: pointer;
    background-color: #3C7A01;
}

button:active {
    cursor: pointer;
    background-color: #234404;
}

h1 {
    text-transform: capitalize;
    color: white;
    text-shadow: 0 0 2px #fff;
}

.container>h3, p {
    padding: 1em;
    text-align: left;
    background-color: black;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    overflow: auto;
}

.container>h3 {
    margin-top: 1em;
}

.display_none {
    display: none;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.controls button {
    flex-grow: 1;
    flex-basis: 8em;
}

.showanswerenabled {
    pointer-events: none;
    cursor: not-allowed;
}